<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}Django Auth Tutorial{% endblock %}</title>
<!--<img src="{% static 'images/favicon.ico' %}" >
-->
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />

</head>
<body>
  <main>
    <img src="{% static 'images/blabs.png' %}" >

    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
